<h1>Submit a New Artist</h1>
<form action="/artists" method="post">
  <h2>Name: <input type="text" name="name"></h2>
  <p>Age: <input type="number" name="age"></p>
  <br>
  <h3>Bio:</h3>
  <br>
  <textarea name="bio" rows="8" cols="80"></textarea>
  <br>
  <input type="submit" value="Submit">
</form>
